body {
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

img {
    width: 100%;
}

/*ボタン*/
.button {
    text-align: center;
}

.button p {
    font-weight: bold;
    color: grey;
    font-size: 1em;
    margin-top: -0.5em;
}

.btn-square-shadow {
display: inline-block;
padding: 0.5em 1em;
text-decoration: none;
background: red;/*ボタン色*/
color: #FFF;
border-bottom: solid 4px #627295;
border-radius: 3px;
font-weight: bold;
margin-bottom: 1em;
}

/*ヘッダー*/
header {
    text-align: center;
}

header h1 {
    font-size: 0.8em;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}

header h1:before, h1:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

header h1:before {
  left:0;
}

header h1:after {
  right: 0;
}

header span {
    color: red;
    font-size: 1.5em;
}

/*ヘッダーサブ*/
.header-sub span {
    color: red;
    font-size: 1.2em;
}

.header-sub h2 {
    font-size: 0.9em;
    position: relative;
    padding-left: 25px;
}

.header-sub h2:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}

.header-sub h2:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

/*.body*/
.body span {
    color: red;
    font-size: 1.2em;
}

.body h4 {
    position: relative;
    padding-left: 25px;
}

.body h4:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}

.body h4:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}